<?xml version="1.0"?>

<launch>
  <arg name="robot_name" default="johnny5" />
  <arg name="use_hands" default="$(optenv USE_HANDS false)" />

  <group ns="$(arg robot_name)">
    <!-- start robot basics -->
    <include file="$(find thor_mang_onboard_launch)/launch/robot_basics.launch" pass_all_args="true" />
  </group>
</launch>
